// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mypage_post p {
    margin: 0; 
    padding: 0;
}

.post_userimage p {
float: left;
}

.post_username{
    margin-left: 60px; 

}

.post_post p {
    margin-left: 60px;
}

.mypage_reply p {
    margin: 0; 
    padding: 0;
    margin-left: 70px;
    
}

.post_reply p {
    margin-left: 70px;
    padding-left:100px;
}

.likes_image {
    margin-left: 60px;
    float: left;
    margin-right: 10px;
    margin-top: 3px;
    // margin-left: 1px;

}

.likes_count {
    float: left;
    // margin-top: 4px;

}

.reply_image{
    float: left;
    margin-left: 10px;
    margin-top: 1px;

}

.edit_image{
    float: left;
    margin-left: 10px;
    margin-top: 1px;

}

.delete_image{
    // margin-left: 110px;
    float: left;
    margin-left: 10px;
    margin-top: 1px;

}